* {
    box-sizing: border-box; /* it will be a box and content will be adjusted */
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
  }
  
.header
{
    padding: 10px;
    text-align: center;
    background: white;
    width: 80%;
    margin: auto;
}