<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <title>LTI - Larsen & Toubro Infotech</title>
</head>
<body>
    <div class="row">
        <div class="main">
            <div class="card">
                <h2 style="text-align: center;">Register to explore amazing career opportunities</h2>
            <form (NgSubmit)="validate()">
                <div class="container">
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" id="userName" required Ngmodel>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" id="userPassword" required Ngmodel>
              
                  <label for="email"><b>Email Address</b></label>
                  <input type="email" placeholder="Enter Email Address" id="userEmail" required Ngmodel>
              
                  <label for="city"><b>City</b></label>
                  <input type="text" placeholder="Enter City" id="userCity" required Ngmodel>
              
                  <!-- <label for="password"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" id="userPassword" required> -->
                  <span id="mbError" style="color: red;"></span>
                  <button type="submit">Register</button>
                </div>
              </form>

            </div>
        </div>
    </div>
</body>
</html>
